.countries {
  display: flex;
}

.countries--second .country {
  padding: 0.5em;
}

/* Add your own CSS code below */
.countries--first {
  flex-direction: row;
  justify-content: left;
}
.countries--second {
  justify-content: space-around;
}
.countries--second {
  justify-content: space-around;
}
.countries--third {
  flex-direction: column-reverse;
}
.countries--fourth {
  flex-direction: column;
  justify-content: space-around;
}
